apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: wesleywillians/imersao5-backend
        envFrom:
        - secretRef:
            name: backend
        ports:
        - containerPort: 3000
    